.App {
  text-align: center;
}

#slider {
  height: 600px;
  /* position: absolute; */
  /* right: 40%; */
  /* transform: rotate(270deg); */
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}